spring.application.name=hirelog
spring.datasource.url=jdbc:postgresql://localhost:5434/hirelogdb
spring.datasource.username=YOUR_DB_USERNAME
spring.datasource.password=YOUR_DB_PASSWORD
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.mvc.problemdetails.enabled=true
spring.data.redis.host=localhost
spring.data.redis.port=6379
jwt.secret=YOUR_JWT_SECRET